click==8.1.3
colour==0.1.5
daal==2021.5.3
daal4py==2021.5.3
dpcpp-cpp-rt==2022.1.0
dpctl==0.11.3
faiss-cpu==1.7.2
intel-cmplr-lib-rt==2022.1.0
intel-cmplr-lic-rt==2022.1.0
intel-opencl-rt==2022.1.0
intel-openmp==2022.1.0
joblib==1.1.0
mido==1.2.10
numpy==1.22.0
pyglet==1.5.21
python-rtmidi==1.4.9
scikit-learn==1.0.2
scikit-learn-intelex==2021.5.3
scipy==1.7.3
tbb==2021.6.0
threadpoolctl==3.0.0
